{% extends 'base.html.twig' %}

{% block body %}
<table class="table ms-3">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">age</th>
      <th scope="col">email</th>
      <th scope="col">cin</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
        <tr>
            <th scope="row">{{user.id}}</th>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.age}}</td>
            <td>{{user.email}}</td>
            <td>{{user.cin}}</td>
            <td>
                <a href="{{ path("")}}"></a>
            </td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
